body{
    font-size: 16px;
    color: #002B53;
    background-color: #ecebf3;
    font-family: 'Josefin Sans', sans-serif;
    margin:0;
}

nav{
    display:flex;
    position: sticky; top: 0;
    z-index: 1;
    font-size: 1.3rem;
    background-color: #ecebf3;
    align-items: center;
    border-bottom: solid #002B53;

}


nav ul {
    display: flex;
    align-items: center;
}



nav li {
    
    list-style-type:none;
  
    padding-right: 30px;
}


nav a{
    padding:10px;
    border-radius: 12px
}
nav img {
    height:64px;
    width:auto;
    margin-right: auto;
    padding: 20px;

}



nav a:link {
    text-decoration: none;
    color: #002B53;
}

nav a:hover {
    color: #ecebf3 !important;
    background-color: #002B53;
    

  }

  nav a:visited {
    color: #002B53;;
  }

#menuLogo{
  display:none;
  cursor: pointer;
}



#navLinks{
  display: flex;
}

#dropdown-content {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  position: sticky; top: 144px;
}

#dropdown-content a {
  text-align: center;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#dropdown-content a:hover {background-color: #f1f1f1}





main{
  scroll-margin-top: 20rem;
    margin:0;
    background-image:url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:720px;;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

main img{
  max-height: 720px;
  max-width: 720px;
    width: 100%;
   height: auto;
    margin-right: 10%;
}

.Description{
    font-size: 2vw;
    padding-left: 40px;
    width:50%;

}

.Description span {
 
    font-size: 3vw;

}
.typewriter{
    display: inline-block;
}
.typewriter p {
    color: #f7b633;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #f7b633; }
  }

  .section{
    scroll-margin-top: 100%;;
    width: 50%;
    padding:2%;
    margin-left: auto;
    margin-right: auto;
    

  }

  .section h1{
    text-align: center;
  }


  .section p{
    font-size: 1.5rem;
  }

  .section ul{
    font-size: 1.5rem;
  }

  .skillsContainer{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    
  }

  .skillContainer{
    color:#ecebf3;
    margin-left:10px;
    margin-bottom:10px;
    align-items: center;
    justify-content: center;
    display:flex;
    font-size: 100%;
    background-color:#0059ac;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width:10%; 
    height:30px;     
    border-radius: 12px;
    overflow: hidden;

  }

  .skillContainer img{
    height:90%;
    padding-right: 10%;
  }

  .skillContainer span{
    font-size: 100%;
  }

  #About{
    scroll-margin-top: 20rem;
  }

  #Projects{
    scroll-margin-top: 20rem;
    background-color: #002B53;
    
  }

  #Projects .section{
    color: #ecebf3

  }

  .projectsContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    margin:auto;
    margin-bottom: 20px;
  }

  .project img{
    height: 320px;
    padding: 10px;
    width:auto;
  }

  .project li{
    padding: 10px;
  }

  .project a{
    text-decoration: none;
  }

  .project a:link {
    color: #ecebf3;
  
  }

  .project a:visited {
    color: #ecebf3;
  }
  

  button{
    margin: 10px;
    background-color: #f7b633;
    font-size: 16px;
    color: #002B53;
    font-family: 'Josefin Sans', sans-serif;
  }

  #mind{
    display:none;
    
  }

  #department{
    display:none;
    
  }
#Contact{
  scroll-margin-top: 20rem;
}
  #Contact ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
   
  }

  #Contact li{
    margin: auto;
 }

  #Contact img{
    height:128px;
    width:auto;
  }

  footer{
    background-color:  #002B53;
    color:#ecebf3;
    padding: 20px;
  }

  footer a:link {
    color: #f7b633
}

footer a:visited {
  color: #f7b633
  }

  @media only screen and (max-width: 900px) {

    .skillContainer span{
      display:none;
    }

    .skillContainer img{
      padding-right: 0px;
    }
  
  }

  @media only screen  and (max-width: 650px) {

   main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   main img{
    max-height: 300px;
    max-width: 300px;
    margin-right: 0;

   }
  .Description{
      font-size: 1rem;
  
  
  }
  
  .Description span {
   
      font-size: 2rem;
  
  }
}



@media only screen and (max-width: 600px) {
  #menuLogo{
    display:flex;
  }

  #navLinks{
    display: none;
  }
  

}





  





 
  