body{
    font-size: 16px;
    color: #002B53;
    background-color: #ecebf3;
    font-family: 'Josefin Sans', sans-serif;
    margin:0;
}

nav{
    display:flex;
    position: sticky; top: 0;
    z-index: 1;
    font-size: 1.3rem;
    background-color: #ecebf3;

}


nav ul {
    display: flex;

}



nav li {
    list-style-type:none;
    display:inline-block;
    padding-right: 30px;
}


nav a{
    padding:10px;
    border-radius: 12px
}
nav img {
    height:64px;
    width:auto;
    margin-right: auto;

}



nav a:link {
    text-decoration: none;
    color: #002B53;
}

nav a:hover {
    color: #ecebf3 !important;
    background-color: #002B53;
    

  }

  nav a:visited {
    color: #002B53;;
  }



main{
    margin:0;
    background-image:url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:720px;;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

main img{
  max-height: 720px;
  max-width: 720px;
    width: 100%;
   height: auto;
    margin-right: 10%;
}

.Description{
    font-size: 2vw;
    padding-left: 40px;
    width:50%;

}

.Description span {
 
    font-size: 3vw;

}
.typewriter{
    display: inline-block;
}
.typewriter p {
    color: #78e1f7;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  .section{
    width: 50%;
    padding:2%;
    margin-left: auto;
    margin-right: auto;
    

  }

  .section h1{
    text-align: center;
  }

  .section p{
    font-size: 1.5rem;
  }

  .skillsContainer{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    
  }

  .skillContainer{
    color:#ecebf3;
    margin-left:10px;
    margin-bottom:10px;
    align-items: center;
    justify-content: center;
    display:flex;
    font-size: 100%;
    background-color:#0059ac;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width:10%; 
    height:30px;     
    border-radius: 12px;
    overflow: hidden;

  }

  .skillContainer img{
    height:90%;
    padding-right: 10%;
  }

  .skillContainer span{
    font-size: 100%;
  }

  @media screen and (max-width: 900px) {

    .skillContainer span{
      display:none;
    }

    .skillContainer img{
      padding-right: 0px;
    }
  
  }

  @media screen and (max-width: 650px) {

   main{
    flex-direction: column;
    justify-content: center;
   }

   main img{
    max-height: 300px;
    max-width: 300px;
   }
  .Description{
      font-size: 1rem;
  
  
  }
  
  .Description span {
   
      font-size: 2rem;
  
  }
}
  